{% extends 'home/base.html' %}
{% load static %}
{% block body_block %}
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown"
                data-wow-delay="0.1s">Tech News</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown"
                data-wow-delay="0.3s">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active text-primary">News</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- Blog Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp"
                 data-wow-delay="0.2s"
                 style="max-width: 800px">
                <h4 class="text-primary">Stay Updated</h4>
                <h1 class="display-4 mb-4">Latest News and Updates</h1>
                <p class="mb-0">
                    Explore the latest happenings in the tech world. Stay informed with curated articles on innovations, breakthroughs, and global trends that shape the future.
                </p>
            </div>
            <div class="row g-4 justify-content-center">
                {% for article in articles %}
                    <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item d-flex flex-column h-100">
                            <div class="blog-img">
                                {% if article.image_url %}
                                    <img src="{{ article.image_url }}"
                                         alt="{{ article.title }}"
                                         class="img-fluid rounded-top w-100"
                                         style="height: 200px;
                                                object-fit: cover">
                                {% else %}
                                    <img src="{% static 'images/placeholder.png' %}"
                                         alt="No image available"
                                         class="img-fluid rounded-top w-100"
                                         style="height: 200px;
                                                object-fit: cover">
                                {% endif %}
                                <div class="blog-categiry py-2 px-4">
                                    <span>{{ article.source }}</span>
                                </div>
                            </div>
                            <div class="blog-content p-4 d-flex flex-column flex-grow-1">
                                <div class="blog-comment d-flex justify-content-between mb-3">
                                    <div class="small">
                                        <span class="fa fa-user text-primary"></span> {{ article.author }}
                                    </div>
                                    <div class="small">
                                        <span class="fa fa-calendar text-primary"></span> {{ article.published_at|date:"M d, Y" }}
                                    </div>
                                </div>
                                <a class="h4 d-inline-block mb-3">{{ article.title }}</a>
                                <p class="mb-3">{{ article.description|truncatewords:20 }}</p>
                                <div class="mt-auto">
                                    <a href="{% url 'tech_news_detail' article.pk %}"
                                       class="btn btn-primary rounded-pill py-2 px-4">Read More <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 text-center wow fadeInUp mt-4" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5"
                   href="{% url 'old_tech_news' %}">View Old News</a>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}
