{% extends 'jobs/base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'jobs/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">
<!-- Our Services Start -->
<div class="our-services section-pad-t30">
   <div class="container">
      <!-- Section Tittle -->
      <div class="row">
         <div class="col-lg-12">
            <div class="section-tittle text-center">
               <h2>New Messages({{ unreadCount }})</h2>
            </div>
         </div>
      </div>
      <!-- More Btn -->
      <!-- Section Button -->
      <div class="row">
         <div class="col-lg-12">
            <div class="browse-btn2 text-center mt-50">
               <ul class="messages">
                  {% for message in messageRequests %}
                  {% if message.is_read == False %}
                  <li class="message message--unread">
                     {% else %}
                  <li class="message">
                     {% endif %}
                     <a href="{% url 'users:message' message.id %}">
                     <span class="message__author">{{ message.name }}</span>
                     <span class="message__subject">{{ message.subject }}</span>
                     <span class="message__date">{{ message.created }}</span>
                     </a>
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- Our Services End -->
{% endblock %}